@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1C1E21;
  --color-secondary: #3B3B3B;
  --color-tertiary: #050B14;
}


.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.federant-regular {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}
.federant-bold {
  font-family: "Federant", serif;
  font-weight: 700;
  font-style: normal;
}
